<style>
.mailBody{
	position:absolute;
	width: 856px;
	height: 676px;
	padding: 20px;
}
p{

	line-height: 26px;
	font-family: Arial Negreta, Arial;
    font-weight: 400;
    color: #333333;
   	font-size: 16px;
}

.emphasize{
    font-weight: 700;
    color: #2D91E5;
}
.foot{
	color: #888888;
	font-size: 13px;
}
li{
	list-style: none;
	color: #333333;
	line-height: 22px;
}

#imgtxt ul{
	display: inline-block;
	margin: 0;
	padding: 0;

}


.left{
	float: left;
	margin-right: 5px;
}
.titleli{
    font-size: 24px;
}
.contentli{
    font-size: 13px;

}
</style>
<div class="mailBody">
  
<p>尊敬的用户 您好！</p>

 <br>
<br>
<p>
	<span>您正在使用网上找回安全支付系统密码，请点击 此处 重置密码。如无法点击邮件中的链接，请手动复制以下网址到您的浏览器中打开：${connect}</span><br>
</p>
<br>
<br>

<br>
<br>
<br>
<div id="imgtxt">
	<ul>
	
			<img class="left" src="cid:IMG0"></img>
		<div class="left">
			<li class="titleli">大额支付</li>
			<li class="contentli">面向金属行业的B2B大额支付服务</li>
			<li class="contentli">实现资金流与商流、物流的同步</li>
		</div>	
	</ul>
	<ul>
		<img  class="left" src="cid:IMG1"></img>
		<div class="left">
			<li class="titleli">实时到帐</li>
			<li class="contentli">通过人民银行大额支付通道</li>
			<li class="contentli">时实提款，时实到帐</li>
		</div>	
	</ul>
	<ul>
		<img  class="left" src="cid:IMG2"></img>
		<div class="left">	
			<li class="titleli">安全保障</li>
			<li class="contentli">中信银行提供资金监管</li>
			<li class="contentli">资金存储企业独立帐户，专款专用</li>
		</div>	
	</ul>
</div>
 
<br>
<br>
<br>
  
<hr>
<p><span class="foot">此为系统邮件，请勿回复</span>
<span class="foot">请保管好您的邮箱，避免账号被他人盗用</span> </p>
<p><span class="foot">上海有色网版权所有2000-2015</span></p>

 




</div>